.postContainer{
    border: 3px solid darkslategray;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 20px rgb(0, 0, 0);
    width: 93%;
    height: 300px;
    /* margin-left: 17%; */
    margin-top: 2.5%;
    margin-bottom: 1%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.postContainer:hover{
    cursor: pointer;
    background-color: rgba(170, 168, 168, 0.342);
    transition: 1s;
    /* transform: rotate3d(1,1,1, 360deg); */
    transform: scaleY(3%);
}
.homebody{
    width: 75%;
    /* border: 5px solid black; */
}
.image{
    max-width: 300px;
    max-height: 80%;
    margin: 0.2%;
    box-shadow: 0 0 8px black;
    border: 4px solid grey;
}
.link:hover{
    text-decoration: none;
    
}
.informationContainer{
    /* border: 3px solid rebeccapurple; */
    width: 100%;
    height: 80%;
    margin: 0.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.data {
    box-shadow: 3px 3px 3px 5px grey;
    color: black;
    width: 60%;
    height: 90%;
    display: grid;
    grid-template-columns: auto auto;
    font-weight: 800;
}
.requests{
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 0 1px greenyellow;
    border-radius: 50% ;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.requests > h2{
    color: seagreen;
}