.form {
    display: grid;
    grid-template-columns: auto ;
    align-items: center;
}
.form > input {
    width: 50%;
    margin-bottom: 1.5%;
    height: 60px;
}
.formHolder{
    margin-left: 30%;    
}
.formHolder > button {
    margin-bottom: 2%;
    outline: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.formHolder > button:hover{
    font-size: larger;
    border: 5px dotted red;
    box-shadow: 0px 0px 5px rgb(2, 1, 1);
}