.postContainer{
    /* border: 3px solid darkslategray; */
    border-radius: 10px;
    width: 60%;
    height: 300px;
    /* margin-left: 17%; */
    margin-top: 2.5%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image{
    z-index: 5;
    max-width: 400px;
    max-height: 90%;
    margin: 0.2%;
    box-shadow: 3px 3px 4px 20px rgb(0, 0, 0);
}
.informationContainer{
    /* border: 3px solid rebeccapurple; */
    box-shadow: 0px 0px 3px 3px grey;
    border-radius: 10px;
    width: 100%;
    height: 80%;
    margin: 0.5%;
    display: grid;
    grid-template-columns: auto auto;
}
.imageHolder{
    width:100%;
    border: 4px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.822);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.imageHolder > img {
    max-width: 300px;
    max-height: 300px;
    margin: 1%;
    
}
.button{
    border: 1px solid black;
    margin-left: 2%;
}
.button:hover{
    background-color: rgb(8, 77, 117);
    color: white;
}
.message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    /* border: 1px solid rgb(121, 119, 119); */
    border-bottom: 1px dotted grey ;
    margin-bottom: 1%;
}
.messageHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.message > button:hover{
    background-color: rgb(8, 77, 117);
    color: rgb(180, 157, 157);
}